/* -----RESET------- */

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #d3d3d3;
    font-family: 'Whitney';
}

/* COMMON */

ul {
    list-style: none;
}

img {
    width: 100%;
}

.btn-small {
    padding: 5px;
    border-radius: 50px;
}

.btn-large {
    padding: 9px;
    border-radius: 70px;
    font-size: 15px;
}

/* ----- HEADER ------- */

header {
    background-color: #255ee9;
    width: 100%;
    height: 100%;
}

.header-top-container {

    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    /* background-color: #255ee9; */
}



/* ---Menù-Header----*/
.header-menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
      
}

.logo {
    width: 20%;
    
}

.logo img {
    width: 100px;
}

nav {
    width: 60%;
}

.login, .btn-small {
    background-color: white;
    text-align: right;
   
}


li {
    padding: 10px;  
}

.header-menu li a {
    color: white;
    text-decoration: none;
}





/* -----header-bottom---- */

.header-bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/jumbo.png');
    background-size: 100%;
    height: 450px;
    
}

.header-bottom-content{ 
    font-size: 18px;
    text-align: center;
    width: 60%;
    color: white;  
}

.header-bottom-content h1 {
    padding-bottom: 30px;
}

.header-bottom-content p {
    padding: 15px 93px;
    font-size: 16px;
}

.download-mac {
    color: black;
    background-color: white;
    margin-right: 10px;
    text-decoration: none;
}

.open-on-browser {
    color: white;
    background-color: black;
    text-decoration: none;
}







/* ----Main Common------ */

.section1, .section2, .section3{
    display: flex;
    justify-content: center;
    align-items: center;

}


.section1 {
    /* test */
    height: 400px;
    /* to remove */
    background-color: white;
}

.section2 {

    /* test */
    height: 400px;
    /* to remove */
    background-color: #d3d3d3;
}

.section3 {
    /* test */
    height: 800px;
    /* to remove */
    background-color: #d3d3d3;
}



.section-content {
    /* test */
    width: 60%;
    /* height: 300px; */
    display: flex;
    
}

/* ------Main----- */
.col-large {
    width: 70%;

   
}

.col-large img {
    margin-left: 90px;
    width: 76%;
}



.col-small {
    width: 30%;
    padding-top: 20px;
    
}

.col-small h2 {
    font-size: 35px;
}

.col-small p{
    font-size: 14px;
    padding-top: 18px;
}



.square {
    width: 60%;
    
}

.square h2 {
    text-align: center;
    padding: 20px 0;
    font-size: 35px;
}

.square p {
    text-align: center;
    font-size: 15px;
    padding: 5px 80px;

}

.square img {
     width: 100%;
}

.starts {
    display: flex;
}

.violet-btn {
   background-color: #7288da;
}

.bottom-square-container {
    text-align: center;
    padding-bottom: 25px;
}

.bottom-square-container a {
    color: white;
}




/* -----footer------ */

footer {
    background-color: black;

    /* test */
    height: 500px;
}

.section-top-footer{
    display: flex;
    justify-content: center;
    align-items: center;

}


.footer-top-container {
    display: flex;
    margin: 25px 0;

    /* test */
    width: 60%;
    height: 450px;
    background-color: white; 

}

.col-footer-large {
    width: 35%;
    height: 100%;

    /* test */

    background-color: #ef8080;
    border: 1px dotted black;
}

.col-footer-small {
    width: calc(65% / 4);
    height: 100%;

    /* test */
    background-color: #20b1a9;
    border: 1px dotted black;
}

hr {
    color: #d3d3d3;
}

/* ----bottom footer---- */

.section-bottom-footer {
    background-color: black;
    margin-top: 1px;
    margin-bottom: 1px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    /* test */
    width: 100%;
    height: 100px;


    

}

.footer-bottom-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

    /* test */
    background-color: #7fffd3;
    height: 30%;  
}

/* test */
#logo-footer, .bottone-footer {
    background-color: #ffb6c0;
}








